<nav class="navbar bg-light">
    <div class="container">
      <a class="navbar-brand" href="inicio">
        <img src="https://st2.depositphotos.com/1768926/7298/v/950/depositphotos_72983357-stock-illustration-property-logo.jpg" alt="Propiedades Horizontales" width="50" height="50">
      </a>
      <ul class="menu">
        
        <div class="container">
            <a href="/administrador-login">
                <button type="button" class="btn btn-outline-primary">ADMINISTRADOR</button>
            </a>
        </div>      
        <div class="container">
            <a href="/habitante-login">
                <button type="button" class="btn btn-outline-primary">HABITANTE</button>
            </a>
        </div>
        <div class="container">
            <a href="/propietario
            
            -login">
                <button type="button" class="btn btn-outline-primary">PROPIETARIO</button>
            </a>
        </div> 
           
      </ul>
    </div>
  </nav>
