<main>
    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid rgb(176, 240, 248);">
        <form [formGroup]="formLogin"(ngSubmit)="login()" class="col s12" method="post">
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>
          <div class='row'>            
            <div class='input-field col s12'>
              <i class="material-icons prefix">account_circle</i>
              <input formControlName="usuario" class='validate' type='email' name='email' id='email' />
              <label for='email'>usuario</label>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <i class="material-icons prefix">key</i>
              <input formControlName="clave" class='validate' type='password' name='password' id='password' />
              <label for='password'>contraseña</label>
            </div>
            <label style='float: right;'>
              <a class='pink-text' href='#!'><b>¿olvido su contraseña?</b></a>
            </label>
          </div>
          <br />         
            <div class='row'>
              <button [disabled]="!formLogin.valid"  type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
            </div>         
        </form>
      </div>
    </div>
    <a routerLink="/registro/crear-persona">Crear persona</a>
  <div class="section"></div>
  <div class="section"></div>
</main>
        